<h2>Members</h2>
<ul class="members">
    <li *ngFor="let member of getActiveMembers(active)" [class.selected]="member === selectedMember" (click)="onSelect(member)">
        <img class="avatar" src="{{member.avatar}}" />
        <div>{{member.name}}</div>
        <div>roles:
            <ul>
                <li *ngFor="let role of member.roles">{{role.name}}</li>
            </ul>
        </div>
        <div>gears:
            <ul>
                <li *ngFor="let gear of member.gears">{{gear.name}}</li>
            </ul>
        </div>
    </li>
</ul>